body{
    background-color: wheat;
}

hr{
    flex-grow: 1;
    width: 100%;
}

.logo{
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    max-height: 8%;
    max-width: 8%;
}

.projimg{
    max-height: 25%;
    max-width: 25%;
}
.cont-flex{
    display: flex;
    flex-direction: column;
}

.cont1-lnb{
    display: flex;
    justify-content: center;
}

.cont2-fp{
    display: flex;
    justify-content: center;
}

.cont3-pp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}


.sp{
    width: 100px;
}

.sp2{
    width: 300px;
}


.cont4-sk-au{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
}

.cont4-sk{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.cont4-au{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.cont4-au-p{
    text-align:center;
}

.cont4-ul{
    text-align:center;
}


.cont5-fc{
    display: flex;
    justify-content: left;
}