body{
    background-color: wheat;
}

hr{
    flex-grow: 1;
    width: 100%;
}

.cont-flex{
    display: flex;
    flex-direction: column;
}

.cont1-lnb{
    display: flex;
    justify-content: center;
}

.cont2-fp{
    display: flex;
    justify-content: center;
}

.cont3-pp{
    display: flex;
    justify-content: center;
}